.E_ul_li{
	margin: 10px;
	width: 100px;
	text-align: left;
	text-indent: 1em;
	height: 35px;
	background-color: white;
	border-radius: 30px;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	color: gray;
	
}
.list{
	
}